Repository demirtasdurmus/express-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, tsc-files --pretty --noEmit, bash -c 'pnpm i18n:check'

.lintstagedrc.json:

{
  "*.{js,mjs,cjs,ts,mts,cts,json,yml,yaml,md,html,css}": ["prettier --write", "eslint --fix"],
  "*.{ts,mts,cts}": ["tsc-files --pretty --noEmit"],
  "locales/**/*.json": "bash -c 'pnpm i18n:check'"
}

chore: upgrade node version to 24
  .github/workflows/dependency-updates.yml
  .github/workflows/pipeline.yaml
  .nvmrc
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: update lock file
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: update lock file 2
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: upgrade to pnpm 11 with allowbuild options
  .vscode/settings.json
  package.json
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix

chore: remove custom cache actions and rely on node setup pnpm cache
  .github/actions/cached-deps/action.yaml
  .github/workflows/dependency-updates.yml
  .github/workflows/pipeline.yaml
Due: prettier --write, eslint --fix

chore: bump minor versions (#34)
  .github/actions/cached-deps/action.yaml
  .github/workflows/dependency-updates.yml
  .github/workflows/pipeline.yaml
  .nvmrc
  .vscode/settings.json
  README.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix

chore: bump major versions
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: add root dir to tsconfig
  package.json
  tsconfig.json
Due: prettier --write, eslint --fix

chore: update ts eslint version
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: replace deprecated css nano cli
  README.md
  package.json
  pnpm-lock.yaml
  scripts/minify-assets.js
Due: prettier --write, eslint --fix

chore: upgrade major version (#35)
  README.md
  package.json
  pnpm-lock.yaml
  scripts/minify-assets.js
  tsconfig.json
Due: prettier --write, eslint --fix

chore: migrate error system
  .lintstagedrc.json
  .vscode/settings.json
  __tests__/sample-routes.test.ts
  locales/en/translation.json
  locales/tr/translation.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/app.ts
  src/config/index.ts
  src/controllers/sample.controller.ts
  src/env/env.ts
  src/env/index.ts
  src/index.ts
  src/lib/error/baseError.ts
  src/lib/error/index.ts
  src/lib/error/utils.ts
  src/lib/logger.ts
  src/middleware/cache-control.middleware.ts
  src/middleware/cors.middleware.ts
  src/middleware/error-handler.middleware.ts
  src/middleware/error.middleware.ts
  src/middleware/helmet.middleware.ts
  src/middleware/http-logger.middleware.ts
  src/middleware/i18n.middleware.ts
  src/middleware/rate-limit.middleware.ts
  src/middleware/validate.middleware.ts
  src/schemas/sample.schema.ts
  src/types/index.ts
  src/utils/cache.ts
  src/utils/error.ts
  src/utils/isStaticFile.ts
  src/utils/shutdown-gracefully.ts
  src/utils/swagger.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit, bash -c 'pnpm i18n:check'

chore: remove tsc files dependency
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: update node version in dockerfile
  Dockerfile
Due: none

chore: move swagger to lib
  src/app.ts
  src/lib/swagger.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

ci: upgrade pnpm actions setup to 5
  .github/workflows/dependency-updates.yml
  .github/workflows/pipeline.yaml
Due: prettier --write, eslint --fix

chore: improve error logging
  src/lib/error/utils.ts
  src/middleware/error-handler.middleware.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: migrate error system (#36)
  .github/workflows/dependency-updates.yml
  .github/workflows/pipeline.yaml
  .lintstagedrc.json
  .vscode/settings.json
  Dockerfile
  __tests__/sample-routes.test.ts
  locales/en/translation.json
  locales/tr/translation.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/app.ts
  src/config/index.ts
  src/controllers/sample.controller.ts
  src/env/env.ts
  src/env/index.ts
  src/index.ts
  src/lib/error/baseError.ts
  src/lib/error/index.ts
  src/lib/error/utils.ts
  src/lib/logger.ts
  src/lib/swagger.ts
  src/middleware/cache-control.middleware.ts
  src/middleware/cors.middleware.ts
  src/middleware/error-handler.middleware.ts
  src/middleware/error.middleware.ts
  src/middleware/helmet.middleware.ts
  src/middleware/http-logger.middleware.ts
  src/middleware/i18n.middleware.ts
  src/middleware/rate-limit.middleware.ts
  src/middleware/validate.middleware.ts
  src/schemas/sample.schema.ts
  src/types/index.ts
  src/utils/cache.ts
  src/utils/error.ts
  src/utils/isStaticFile.ts
  src/utils/shutdown-gracefully.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit, bash -c 'pnpm i18n:check'

refactor: reorganize router structure and enhance error handling
  src/app.ts
  src/lib/swagger.ts
  src/middleware/error-handler.middleware.ts
  src/routers/health.router.ts
  src/routers/sample.router.ts
  src/utils/parse-with-zod.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

refactor: update router exports for consistency
  src/app.ts
  src/routers/health.router.ts
  src/routers/sample.router.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

refactor: reorganize router structure and enhance error handling (#37)
  src/app.ts
  src/lib/swagger.ts
  src/middleware/error-handler.middleware.ts
  src/routers/health.router.ts
  src/routers/sample.router.ts
  src/utils/parse-with-zod.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: add tsup bundler
  .gitignore
  eslint.config.mts
  package.json
  pnpm-lock.yaml
  scripts/minify-assets.js
  src/app.ts
  tsconfig.json
  tsup.config.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: add docker bundler support and docs
  .dockerignore
  Dockerfile.bundle
  README.md
Due: prettier --write, eslint --fix

chore: update readme
  Dockerfile.bundle
  README.md
  package.json
  tsup.config.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: migrate to tsdown
  README.md
  package.json
  pnpm-lock.yaml
  tsdown.config.mts
  tsup.config.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: use cjs extension
  Dockerfile.bundle
  README.md
  package.json
  tsdown.config.mts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: prettier ignore dist-bundle
  .prettierignore
Due: none

chore: remove unnecessary start:bundler script
  README.md
  package.json
Due: prettier --write, eslint --fix

chore: update clean script
  scripts/clean.sh
Due: none

chore: update docker compose to build with bundle
  docker-compose.yml
Due: prettier --write, eslint --fix

chore: add bundler support (#38)
  .dockerignore
  .gitignore
  .prettierignore
  Dockerfile.bundle
  README.md
  docker-compose.yml
  eslint.config.mts
  package.json
  pnpm-lock.yaml
  scripts/clean.sh
  scripts/minify-assets.js
  src/app.ts
  tsconfig.json
  tsdown.config.mts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

fix: default cors origin variable
  docker-compose.yml
Due: prettier --write, eslint --fix

ci: ignore scripts
  Dockerfile
  Dockerfile.bundle
  docker-compose.yml
Due: prettier --write, eslint --fix

Ci/build errors (#39)
  Dockerfile
  Dockerfile.bundle
  docker-compose.yml
Due: prettier --write, eslint --fix

ci: add ports to docker compose config
  docker-compose.yml
Due: prettier --write, eslint --fix

ci: add ports to docker compose config (#40)
  docker-compose.yml
Due: prettier --write, eslint --fix

docs: fix swagger lookup paths
  package.json
  src/lib/swagger.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

docs: fix swagger lookup paths (#41)
  package.json
  src/lib/swagger.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

refactor: revert api bundler with tsdown
  .env.example
  README.md
  tsdown.config.mts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit
