Repository demirtasdurmus/express-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, tsc-files --pretty --noEmit, bash -c 'pnpm i18n:check'

.lintstagedrc.json:

{
  "*.{js,mjs,cjs,ts,mts,cts,json,yml,yaml,md,html,css}": ["prettier --write", "eslint --fix"],
  "*.{ts,mts,cts}": ["tsc-files --pretty --noEmit"],
  "locales/**/*.json": "bash -c 'pnpm i18n:check'"
}

refactor: common translation keys and api config
  locales/en/translation.json
  locales/tr/translation.json
  src/app.ts
  src/config/index.ts
  src/middleware/rate-limit.middleware.ts
  src/schemas/sample.schema.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit, bash -c 'pnpm i18n:check'

ci: add localization keys check on ci
  .github/workflows/pipeline.yaml
Due: prettier --write, eslint --fix

refactor: common translation keys and api config (#78)
  .github/workflows/pipeline.yaml
  locales/en/translation.json
  locales/tr/translation.json
  src/app.ts
  src/config/index.ts
  src/middleware/rate-limit.middleware.ts
  src/schemas/sample.schema.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit, bash -c 'pnpm i18n:check'

feat: enhance sample validation error messages
  locales/en/translation.json
  locales/tr/translation.json
  src/schemas/sample.schema.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit, bash -c 'pnpm i18n:check'

feat: enhance sample validation error messages (#79)
  locales/en/translation.json
  locales/tr/translation.json
  src/schemas/sample.schema.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit, bash -c 'pnpm i18n:check'

chore: add postcss new package under minimumReleaseAge config
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix

fix: approve parcel build script
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix

chore: upgrade pnpm version
  Dockerfile
  package.json
Due: prettier --write, eslint --fix

chore: upgrade pnpm version (#91)
  Dockerfile
  package.json
Due: prettier --write, eslint --fix

fix: tsdown config deps
  tsdown.config.mts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

ci: dependabot auto check time zone
  .github/dependabot.yml
Due: prettier --write, eslint --fix

ci: dependabot auto check time zone (#93)
  .github/dependabot.yml
Due: prettier --write, eslint --fix

ci: standardize names and add concurrency cancel
  .github/workflows/ci.yaml
Due: prettier --write, eslint --fix

ci: pin ubuntu versions in actions
  .github/workflows/ci.yaml
Due: prettier --write, eslint --fix

ci: standardize names and add concurrency cancel (#101)
  .github/workflows/ci.yaml
Due: prettier --write, eslint --fix

chore: migrate deprecated prom client
  DEVELOPMENT_PATH.md
  package.json
  pnpm-lock.yaml
  src/lib/metrics.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: migrate deprecated prom client (#102)
  DEVELOPMENT_PATH.md
  package.json
  pnpm-lock.yaml
  src/lib/metrics.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit
