Repository demirtasdurmus/express-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, tsc-files --pretty --noEmit, bash -c 'pnpm i18n:check'

.lintstagedrc.json:

{
  "*.{js,mjs,cjs,ts,mts,cts,json,yml,yaml,md,html,css}": ["prettier --write", "eslint --fix"],
  "*.{ts,mts,cts}": ["tsc-files --pretty --noEmit"],
  "locales/**/*.json": "bash -c 'pnpm i18n:check'"
}

chore: add github actions skill
  .agents/skills/github-actions-docs/SKILL.md
  .agents/skills/github-actions-docs/references/topic-map.md
  skills-lock.json
Due: prettier --write, eslint --fix

chore: replace ncu with dependabot
  .github/dependabot.yml
  .github/workflows/dependency-updates.yml
  .ncurc.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: prettier --write, eslint --fix

chore: remove ncu leftovers
  .dockerignore
  .vscode/settings.json
Due: prettier --write, eslint --fix

chore: add github ai agent and dependabot config (#60)
  .agents/skills/github-actions-docs/SKILL.md
  .agents/skills/github-actions-docs/references/topic-map.md
  .dockerignore
  .github/dependabot.yml
  .github/workflows/dependency-updates.yml
  .ncurc.mjs
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  skills-lock.json
  tsconfig.json
Due: prettier --write, eslint --fix

chore: update GitHub Actions permissions in pipeline.yaml
  .github/workflows/pipeline.yaml
Due: prettier --write, eslint --fix

chore: update GitHub Actions permissions in pipeline.yaml (#61)
  .github/workflows/pipeline.yaml
Due: prettier --write, eslint --fix

chore: enable type aliases
  __tests__/health-routes.test.ts
  __tests__/sample-routes.test.ts
  jest-int.config.ts
  jest.config.ts
  src/app.ts
  src/config/index.ts
  src/controllers/health.controller.ts
  src/controllers/sample.controller.ts
  src/env/env.ts
  src/env/index.ts
  src/index.ts
  src/lib/error/baseError.ts
  src/lib/error/utils.ts
  src/lib/logger.ts
  src/lib/shutdownListeners.ts
  src/lib/swagger.ts
  src/middleware/cache-control.middleware.ts
  src/middleware/cors.middleware.ts
  src/middleware/error-handler.middleware.ts
  src/middleware/http-logger.middleware.ts
  src/middleware/i18n.middleware.ts
  src/middleware/rate-limit.middleware.ts
  src/middleware/validate.middleware.ts
  src/routers/health.router.ts
  src/routers/sample.router.ts
  src/services/sample.service.test.ts
  src/services/sample.service.ts
  src/types/i18next.d.ts
  src/types/sample.ts
  src/utils/get-pagination-meta.ts
  src/utils/parse-with-zod.test.ts
  src/utils/should-skip-path.ts
  tsconfig.json
  tsdown.config.mts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: add prettier import sorter plugin
  .prettierrc
  __tests__/health-routes.test.ts
  __tests__/sample-routes.test.ts
  eslint.config.mts
  jest-int.config.ts
  jest.config.ts
  package.json
  pnpm-lock.yaml
  src/app.ts
  src/config/index.ts
  src/controllers/health.controller.ts
  src/controllers/sample.controller.ts
  src/env/env.ts
  src/index.ts
  src/lib/error/baseError.ts
  src/lib/error/utils.ts
  src/lib/logger.ts
  src/lib/shutdownListeners.ts
  src/lib/swagger.ts
  src/middleware/cache-control.middleware.ts
  src/middleware/cors.middleware.ts
  src/middleware/error-handler.middleware.ts
  src/middleware/http-logger.middleware.ts
  src/middleware/i18n.middleware.ts
  src/middleware/rate-limit.middleware.ts
  src/middleware/validate.middleware.ts
  src/routers/health.router.ts
  src/routers/sample.router.ts
  src/schemas/sample.schema.ts
  src/services/sample.service.ts
  src/types/i18next.d.ts
  src/utils/parse-with-zod.test.ts
  src/utils/should-skip-path.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: drop support for tsc build artifacts
  .dockerignore
  .env.example
  .github/workflows/pipeline.yaml
  .gitignore
  .prettierignore
  Dockerfile
  Dockerfile.bundle
  README.md
  docker-compose.yml
  eslint.config.mts
  package.json
  pnpm-lock.yaml
  src/env/env.ts
  src/lib/swagger.ts
  tsconfig.json
  tsdown.config.mts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: remove entry point configuration from tsdown config
  tsdown.config.mts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: simplify formatter config and enhance linter to fix consistent type imports
  .prettierrc
  __tests__/sample-routes.test.ts
  eslint.config.mts
  src/app.ts
  src/config/index.ts
  src/controllers/health.controller.ts
  src/controllers/sample.controller.ts
  src/index.ts
  src/lib/error/baseError.ts
  src/lib/error/utils.ts
  src/middleware/cache-control.middleware.ts
  src/middleware/error-handler.middleware.ts
  src/middleware/http-logger.middleware.ts
  src/middleware/rate-limit.middleware.ts
  src/middleware/validate.middleware.ts
  src/schemas/sample.schema.ts
  src/services/sample.service.ts
  src/types/express.d.ts
  src/types/i18next.d.ts
  src/types/sample.ts
  src/utils/get-pagination-meta.ts
  src/utils/parse-with-zod.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: simplify formatter config and enhance linter to fix consistent type imports (#63)
  .prettierrc
  __tests__/sample-routes.test.ts
  eslint.config.mts
  src/app.ts
  src/config/index.ts
  src/controllers/health.controller.ts
  src/controllers/sample.controller.ts
  src/index.ts
  src/lib/error/baseError.ts
  src/lib/error/utils.ts
  src/middleware/cache-control.middleware.ts
  src/middleware/error-handler.middleware.ts
  src/middleware/http-logger.middleware.ts
  src/middleware/rate-limit.middleware.ts
  src/middleware/validate.middleware.ts
  src/schemas/sample.schema.ts
  src/services/sample.service.ts
  src/types/express.d.ts
  src/types/i18next.d.ts
  src/types/sample.ts
  src/utils/get-pagination-meta.ts
  src/utils/parse-with-zod.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: update validation i18n keys in schemas and update error handling
  docs/adr/0001-validation-i18n-keys.md
  locales/en/translation.json
  locales/tr/translation.json
  src/middleware/error-handler.middleware.ts
  src/middleware/validate.middleware.ts
  src/schemas/sample.schema.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit, bash -c 'pnpm i18n:check'

chore: update validation i18n keys in schemas and update error handling (#64)
  docs/adr/0001-validation-i18n-keys.md
  locales/en/translation.json
  locales/tr/translation.json
  src/middleware/error-handler.middleware.ts
  src/middleware/validate.middleware.ts
  src/schemas/sample.schema.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit, bash -c 'pnpm i18n:check'

docs: enhance README and improve error handling middleware
  README.md
  src/middleware/error-handler.middleware.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

docs: enhance README and improve error handling middleware (#65)
  README.md
  src/middleware/error-handler.middleware.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

fix: invalid json parsing translation handling
  __tests__/sample-routes.test.ts
  locales/en/translation.json
  locales/tr/translation.json
  src/app.ts
  src/lib/error/utils.test.ts
  src/lib/error/utils.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit, bash -c 'pnpm i18n:check'

fix: invalid json parsing translation handling (#66)
  __tests__/sample-routes.test.ts
  locales/en/translation.json
  locales/tr/translation.json
  src/app.ts
  src/lib/error/utils.test.ts
  src/lib/error/utils.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit, bash -c 'pnpm i18n:check'

build: remove port mapping from compose
  docker-compose.yml
Due: prettier --write, eslint --fix

build: remove port mapping from compose (#67)
  docker-compose.yml
Due: prettier --write, eslint --fix

chore: downgrade node version to 22
  .github/workflows/pipeline.yaml
  .nvmrc
  Dockerfile
  package.json
  pnpm-lock.yaml
  tsdown.config.mts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: downgrade node version to 22 (#69)
  .github/workflows/pipeline.yaml
  .nvmrc
  Dockerfile
  package.json
  pnpm-lock.yaml
  tsdown.config.mts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

feat: api versioning strategy
  DEVELOPMENT_PATH.md
  README.md
  __tests__/v1/constants.ts
  __tests__/v1/sample-routes.test.ts
  src/app.ts
  src/config/index.ts
  src/controllers/health.controller.ts
  src/lib/swagger.ts
  src/routers/health.router.ts
  src/routes/v1/index.ts
  src/routes/v1/sample.routes.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

feat: api versioning strategy (#70)
  DEVELOPMENT_PATH.md
  README.md
  __tests__/v1/constants.ts
  __tests__/v1/sample-routes.test.ts
  src/app.ts
  src/config/index.ts
  src/controllers/health.controller.ts
  src/lib/swagger.ts
  src/routers/health.router.ts
  src/routes/v1/index.ts
  src/routes/v1/sample.routes.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

feat: add env based protection to open api docs
  .env.example
  DEVELOPMENT_PATH.md
  README.md
  docker-compose.yml
  src/app.ts
  src/config/index.ts
  src/env/env.ts
  src/middleware/swagger-auth.middleware.test.ts
  src/middleware/swagger-auth.middleware.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

refactor: centralize *like environments declaration
  src/env/env.ts
  src/env/index.ts
  src/middleware/swagger-auth.middleware.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

feat: add env based protection to open api docs (#71)
  .env.example
  DEVELOPMENT_PATH.md
  README.md
  docker-compose.yml
  src/app.ts
  src/config/index.ts
  src/env/env.ts
  src/env/index.ts
  src/middleware/swagger-auth.middleware.test.ts
  src/middleware/swagger-auth.middleware.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

feat: add metrics and observability infrastructure
  DEVELOPMENT_PATH.md
  README.md
  __tests__/metrics-routes.test.ts
  package.json
  pnpm-lock.yaml
  src/app.ts
  src/lib/metrics.test.ts
  src/lib/metrics.ts
  src/middleware/i18n.middleware.ts
  src/middleware/metrics.middleware.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

feat: add metrics and observability infrastructure (#72)
  DEVELOPMENT_PATH.md
  README.md
  __tests__/metrics-routes.test.ts
  package.json
  pnpm-lock.yaml
  src/app.ts
  src/lib/metrics.test.ts
  src/lib/metrics.ts
  src/middleware/i18n.middleware.ts
  src/middleware/metrics.middleware.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

fix: skip / path from metrics
  src/lib/metrics.test.ts
  src/lib/metrics.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

fix: skip / path from metrics (#73)
  src/lib/metrics.test.ts
  src/lib/metrics.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

docs: update dev path
  DEVELOPMENT_PATH.md
Due: prettier --write, eslint --fix

docs: update dev path (#74)
  DEVELOPMENT_PATH.md
Due: prettier --write, eslint --fix

feat: improve error object i18n key compile time checks
  README.md
  docs/adr/0001-validation-i18n-keys.md
  docs/adr/0002-static-i18n-keys-with-error-objects.md
  src/app.ts
  src/controllers/sample.controller.ts
  src/lib/error/baseError.ts
  src/lib/error/utils.ts
  src/middleware/rate-limit.middleware.ts
  src/middleware/validate.middleware.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

feat: improve error object i18n key compile time checks (#76)
  README.md
  docs/adr/0001-validation-i18n-keys.md
  docs/adr/0002-static-i18n-keys-with-error-objects.md
  src/app.ts
  src/controllers/sample.controller.ts
  src/lib/error/baseError.ts
  src/lib/error/utils.ts
  src/middleware/rate-limit.middleware.ts
  src/middleware/validate.middleware.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

refactor: extract data access layer to repositories
  README.md
  __tests__/v1/sample-routes.test.ts
  locales/en/translation.json
  locales/tr/translation.json
  src/controllers/sample.controller.ts
  src/middleware/rate-limit.middleware.ts
  src/repositories/sample.repository.test.ts
  src/repositories/sample.repository.ts
  src/routes/v1/sample.routes.ts
  src/services/sample.service.test.ts
  src/services/sample.service.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit, bash -c 'pnpm i18n:check'

refactor: call repositories through services
  __tests__/v1/sample-routes.test.ts
  src/controllers/sample.controller.ts
  src/routes/v1/sample.routes.ts
  src/services/sample.service.test.ts
  src/services/sample.service.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

feat: enrich swagger schema with problem details
  src/lib/swagger.ts
  src/routes/v1/sample.routes.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

refactor: extract data access layer to repositories (#77)
  README.md
  __tests__/v1/sample-routes.test.ts
  locales/en/translation.json
  locales/tr/translation.json
  src/controllers/sample.controller.ts
  src/lib/swagger.ts
  src/middleware/rate-limit.middleware.ts
  src/repositories/sample.repository.test.ts
  src/repositories/sample.repository.ts
  src/routes/v1/sample.routes.ts
  src/services/sample.service.test.ts
  src/services/sample.service.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit, bash -c 'pnpm i18n:check'
