Repository demirtasdurmus/express-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, tsc-files --pretty --noEmit, bash -c 'pnpm i18n:check'

.lintstagedrc.json:

{
  "*.{js,mjs,cjs,ts,mts,cts,json,yml,yaml,md,html,css}": ["prettier --write", "eslint --fix"],
  "*.{ts,mts,cts}": ["tsc-files --pretty --noEmit"],
  "locales/**/*.json": "bash -c 'pnpm i18n:check'"
}

ci: add docker support
  .dockerignore
  Dockerfile
  docker-compose.yml
Due: prettier --write, eslint --fix

chore: fix docker file and compose file
  .dockerignore
  .vscode/settings.json
  Dockerfile
  docker-compose.yml
  src/utils/swagger.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

docs: update documentation for docker support
  DEVELOPMENT_PATH.md
  README.md
Due: prettier --write, eslint --fix

chore: pin pm2 and pnpm versions in dockerfile
  Dockerfile
Due: none

ci: add docker support (#20)
  .dockerignore
  .vscode/settings.json
  DEVELOPMENT_PATH.md
  Dockerfile
  README.md
  docker-compose.yml
  src/utils/swagger.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: embed readme to the static marketing page
  public/css/style.css
  public/index.html
  public/js/main.js
  src/middleware/helmet.middleware.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: update documentation style
  public/css/style.css
  public/index.html
Due: prettier --write, eslint --fix

chore: upate overflow y for docs containr
  public/css/style.css
Due: prettier --write, eslint --fix

docs: embed readme to static marketing page (#21)
  public/css/style.css
  public/index.html
  public/js/main.js
  src/middleware/helmet.middleware.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: update deps and fix script src error
  package.json
  pnpm-lock.yaml
  public/css/style.css
  public/js/main.js
  src/middleware/helmet.middleware.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: update deps and fix script src error (#22)
  package.json
  pnpm-lock.yaml
  public/css/style.css
  public/js/main.js
  src/middleware/helmet.middleware.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: upgrade deps
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: fix minify assets with a proper build time env configuration
  Dockerfile
  scripts/minify-assets.js
Due: prettier --write, eslint --fix

chore: update dependencies (minor versions only)
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: update dependencies (minor versions only) (#23)
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: add cache control middleware
  .env.example
  DEVELOPMENT_PATH.md
  src/app.ts
  src/config/index.ts
  src/env/index.ts
  src/middleware/cache-control.middleware.ts
  src/middleware/error.middleware.ts
  src/utils/cache.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

feat: add cache control middleware (#24)
  .env.example
  DEVELOPMENT_PATH.md
  src/app.ts
  src/config/index.ts
  src/env/index.ts
  src/middleware/cache-control.middleware.ts
  src/middleware/error.middleware.ts
  src/utils/cache.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

feat: add request timeout middleware
  .vscode/settings.json
  DEVELOPMENT_PATH.md
  package.json
  pnpm-lock.yaml
  src/app.ts
  src/config/index.ts
  src/middleware/error.middleware.ts
  src/middleware/http-logger.middleware.ts
  src/utils/error.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

feat: add request timeout middleware (#25)
  .vscode/settings.json
  DEVELOPMENT_PATH.md
  package.json
  pnpm-lock.yaml
  src/app.ts
  src/config/index.ts
  src/middleware/error.middleware.ts
  src/middleware/http-logger.middleware.ts
  src/utils/error.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

refactor: create response and pagination helpers
  __tests__/health-routes.test.ts
  __tests__/sample-routes.test.ts
  src/app.ts
  src/controllers/health.controller.ts
  src/controllers/sample.controller.ts
  src/middleware/cache-control.middleware.ts
  src/middleware/error.middleware.ts
  src/routes/health.route.ts
  src/routes/sample.route.ts
  src/schemas/sample.schema.ts
  src/schemas/shared.schema.ts
  src/types/index.ts
  src/types/sample.ts
  src/utils/get-pagination-meta.ts
  src/utils/swagger.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

docs: update dev path
  DEVELOPMENT_PATH.md
  src/schemas/sample.schema.ts
  src/schemas/shared.schema.ts
  src/types/index.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

refactor: create response and pagination helpers (#26)
  DEVELOPMENT_PATH.md
  __tests__/health-routes.test.ts
  __tests__/sample-routes.test.ts
  src/app.ts
  src/controllers/health.controller.ts
  src/controllers/sample.controller.ts
  src/middleware/cache-control.middleware.ts
  src/middleware/error.middleware.ts
  src/routes/health.route.ts
  src/routes/sample.route.ts
  src/schemas/sample.schema.ts
  src/types/index.ts
  src/types/sample.ts
  src/utils/get-pagination-meta.ts
  src/utils/swagger.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: update dependencies (minor versions only) (#27)
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: ignore .claude from clean script
  scripts/clean.sh
Due: none

ci: update compose file, remove network config
  docker-compose.yml
Due: prettier --write, eslint --fix

ci: update deploy config (#28)
  .vscode/settings.json
  docker-compose.yml
  scripts/clean.sh
Due: prettier --write, eslint --fix

chore: update dependencies (minor versions only) (#29)
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: update dependencies (minor versions only) (#30)
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: simplify error library
  README.md
  package.json
  pnpm-lock.yaml
  src/utils/error.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: simplify error library (#31)
  README.md
  package.json
  pnpm-lock.yaml
  src/utils/error.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

refactor: relocate error middleware
  src/app.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: bump minor versions
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: bump minor versions (#32)
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: update dependencies (minor versions only) (#33)
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix
