Repository demirtasdurmus/express-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: add swagger and code of conduct
  CODE_OF_CONDUCT.md
  README.md
  package.json
  pnpm-lock.yaml
  src/app.ts
  src/config/index.ts
  src/index.ts
  src/middleware/sample.middleware.ts
  src/routes/sample.route.ts
  src/utils/swagger.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: add swagger and code of conduct (#8)
  CODE_OF_CONDUCT.md
  README.md
  package.json
  pnpm-lock.yaml
  src/app.ts
  src/config/index.ts
  src/index.ts
  src/middleware/sample.middleware.ts
  src/routes/sample.route.ts
  src/utils/swagger.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

feat: add critical middlewares and rate limiting
  .env.example
  README.md
  package.json
  pnpm-lock.yaml
  src/app.ts
  src/config/index.ts
  src/env/index.ts
  src/middleware/cors.middleware.ts
  src/middleware/error-handler.middleware.ts
  src/middleware/helmet.middleware.ts
  src/middleware/http-logger.middleware.ts
  src/middleware/rate-limit.middleware.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

feat: reorder middlewares
  src/app.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

feat: add critical middlewares and rate limiting (#9)
  .env.example
  README.md
  package.json
  pnpm-lock.yaml
  src/app.ts
  src/config/index.ts
  src/env/index.ts
  src/middleware/cors.middleware.ts
  src/middleware/error-handler.middleware.ts
  src/middleware/helmet.middleware.ts
  src/middleware/http-logger.middleware.ts
  src/middleware/rate-limit.middleware.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

feat: add validation middleware and extend sample routes
  TODO.md
  src/config/index.ts
  src/controllers/sample.controller.ts
  src/middleware/validate.middleware.ts
  src/routes/sample.route.ts
  src/schemas/sample.ts
  src/services/sample.service.ts
  src/types/index.ts
  src/types/sample.ts
  src/utils/error.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

test: add unit tests for services
  src/services/sample.service.test.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

test: add integration tests for extended sample routes
  __tests__/sampleRoutes.test.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

docs: update development path md
  DEVELOPMENT_PATH.md
Due: prettier --write, eslint --fix

feat: add validation middleware and example usage (#10)
  DEVELOPMENT_PATH.md
  README.md
  __tests__/sampleRoutes.test.ts
  src/config/index.ts
  src/controllers/sample.controller.ts
  src/middleware/validate.middleware.ts
  src/routes/sample.route.ts
  src/schemas/sample.ts
  src/services/sample.service.test.ts
  src/services/sample.service.ts
  src/types/index.ts
  src/types/sample.ts
  src/utils/error.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

feat: add health check endpoint and compression middleware
  DEVELOPMENT_PATH.md
  README.md
  __tests__/health-routes.test.ts
  __tests__/sample-routes.test.ts
  package.json
  pnpm-lock.yaml
  src/app.ts
  src/controllers/health.controller.ts
  src/routes/health.route.ts
  src/types/health.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

feat: add health check endpoint and compression middleware (#11)
  DEVELOPMENT_PATH.md
  README.md
  __tests__/health-routes.test.ts
  __tests__/sample-routes.test.ts
  __tests__/setup.ts
  package.json
  pnpm-lock.yaml
  src/app.ts
  src/controllers/health.controller.ts
  src/routes/health.route.ts
  src/types/health.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

feat: add structured logging with pino
  DEVELOPMENT_PATH.md
  README.md
  package.json
  pnpm-lock.yaml
  src/app.ts
  src/config/index.ts
  src/middleware/http-logger.middleware.ts
  src/utils/error.ts
  src/utils/logger.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

feat: add structured logging with pino (#12)
  DEVELOPMENT_PATH.md
  README.md
  package.json
  pnpm-lock.yaml
  src/app.ts
  src/config/index.ts
  src/middleware/http-logger.middleware.ts
  src/utils/error.ts
  src/utils/logger.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

feat: add initial implementation
  .lintstagedrc.json
  .vscode/extensions.json
  .vscode/settings.json
  __tests__/sample-routes.test.ts
  locales/en/translation.json
  locales/tr/translation.json
  package.json
  pnpm-lock.yaml
  src/app.ts
  src/config/index.ts
  src/controllers/sample.controller.ts
  src/env/index.ts
  src/middleware/error.middleware.ts
  src/middleware/http-logger.middleware.ts
  src/middleware/i18n.middleware.ts
  src/middleware/not-found-handler.middleware.ts
  src/middleware/validate.middleware.ts
  src/services/sample.service.test.ts
  src/services/sample.service.ts
  src/types/express.d.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: add typescript support for i18n locales
  .vscode/extensions.json
  src/types/i18next.d.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: add support for zod validation issues&error messages
  __tests__/sample-routes.test.ts
  locales/en/translation.json
  locales/tr/translation.json
  src/config/index.ts
  src/controllers/sample.controller.ts
  src/env/index.ts
  src/middleware/i18n.middleware.ts
  src/middleware/validate.middleware.ts
  src/routes/sample.route.ts
  src/schemas/sample.schema.ts
  src/types/index.ts
  src/utils/error.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: add tests for custom zod schema error messages
  __tests__/sample-routes.test.ts
  package.json
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

docs: update docs for internationalization
  DEVELOPMENT_PATH.md
  README.md
Due: prettier --write, eslint --fix

chore: update config params
  package.json
  src/config/index.ts
  src/middleware/i18n.middleware.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

feat: add internationalization support with dynamic namespace configuration
  src/config/index.ts
  src/middleware/i18n.middleware.ts
  src/types/i18next.d.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: update dependencies (minor versions only)
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: add internationalization and localization with i18n (#14)
  .lintstagedrc.json
  .vscode/extensions.json
  .vscode/settings.json
  DEVELOPMENT_PATH.md
  README.md
  __tests__/sample-routes.test.ts
  locales/en/translation.json
  locales/tr/translation.json
  package.json
  pnpm-lock.yaml
  src/app.ts
  src/config/index.ts
  src/controllers/sample.controller.ts
  src/middleware/error.middleware.ts
  src/middleware/http-logger.middleware.ts
  src/middleware/i18n.middleware.ts
  src/middleware/not-found-handler.middleware.ts
  src/middleware/validate.middleware.ts
  src/routes/sample.route.ts
  src/schemas/sample.schema.ts
  src/services/sample.service.test.ts
  src/services/sample.service.ts
  src/types/express.d.ts
  src/types/i18next.d.ts
  src/types/index.ts
  src/utils/error.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: update dependencies (minor versions only) (#15)
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: enhance pino logger
  .vscode/settings.json
  src/middleware/http-logger.middleware.ts
  src/utils/logger.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: add basic metrics with prom client
  DEVELOPMENT_PATH.md
  package.json
  pnpm-lock.yaml
  src/app.ts
  src/config/index.ts
  src/controllers/metrics.controller.ts
  src/middleware/metrics.middleware.ts
  src/routes/metrics.route.ts
  src/services/sample.service.ts
  src/utils/metrics.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: enhance pino logger
  .vscode/settings.json
  src/config/index.ts
  src/middleware/http-logger.middleware.ts
  src/utils/logger.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: add favicon
  public/favicon.ico
Due: none

chore: update favicon link and swagger prod url
  public/index.html
  src/utils/swagger.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: fix vulnurable qs and update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: fix vulnurable qs and update deps (#16)
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: add static marketing page
  .lintstagedrc.json
  public/css/style.css
  public/index.html
  public/js/main.js
  src/routes/health.route.ts
  src/utils/swagger.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

feat: add static marketing page (#17)
  .lintstagedrc.json
  public/css/style.css
  public/index.html
  public/js/main.js
  src/routes/health.route.ts
  src/utils/swagger.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: skip static file logging
  src/middleware/http-logger.middleware.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: skip static file logging (#18)
  src/middleware/http-logger.middleware.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: enable express trust proxy
  src/app.ts
Due: prettier --write, eslint --fix, tsc-files --pretty --noEmit

chore: add static asset minification script
  README.md
  package.json
  pnpm-lock.yaml
  scripts/minify-assets.js
Due: prettier --write, eslint --fix

chore: add static asset minification script (#19)
  README.md
  package.json
  pnpm-lock.yaml
  scripts/minify-assets.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,mjs,cjs,ts,mts,cts,json,yml,yaml,md}
  eslint --fix: any of: *.{js,mjs,cjs,ts,mts,cts,json,yml,yaml,md}
  tsc-files --pretty --noEmit: any of: *.{ts,mts,cts}
